* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header, footer {
    display: flex; 
    align-items: center;
    height: 3rem;
}

header {
    padding-left: 15px;
    background-color: #b11226;
    color: #fff;
    box-shadow: 1px 1px 3px 2px #dfc5c5;
}

main {
    flex-grow: 1;
}

#searchForm {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

input {
    border: 1px solid #b11226;
    padding: 5px;
    margin: 0 3px 0 3px;
    font-size: 18px;
}

#searchDrink {
    width: 300px;
}

#drinks {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 25px auto 0 auto;
    width: 950px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    width: 250px;
    height: 150px;
    border: 3px solid #b11226;
    border-radius: 10px;
}

footer {
    justify-content: center;
}