* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header, footer {
    display: flex; 
    align-items: center;
    height: 3rem;
}

header {
    padding-left: 15px;
    background-color: #b11226;
    color: #fff;
    box-shadow: 1px 1px 3px 2px #dfc5c5;
}

main {
    flex-grow: 1;
}

#searchForm {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

footer {
    justify-content: center;
}