@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Quicksand, Helvetica;
    display: grid;
    min-height: 100vh; 
    background-color: #741b79;
}

header, footer {
    display: flex; 
    align-items: center;
    height: 3rem;
    box-shadow: 1px 1px 5px 1px #201f1f;
}

header {
    padding-left: 15px;
    background-color: #b11226;
    color: #fff;
}

h1 {
    margin: auto;
}

h2#searchHead {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
}

main {
    flex-grow: 1;
}

.searchForms {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#searchFormName {
    margin-top: -25px;
}

input, .buttons {
    border: 3px solid #b11226;
    padding: 5px;
    margin: 0 5px 0 5px;
    font-family: Quicksand, Helvetica;
    font-size: 18px;
    box-shadow: 1px 1px 5px 1px #201f1f;
}

.buttons {
    background-color: #000;
    color: #fff;
}

#initButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#getRandom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px
}

#getRandom button {
    padding-left: 20px;
    padding-right: 20px;
}

.searching {
    width: 250px;
}

#drinks {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 25px auto 25px auto;
    flex-wrap: wrap;
    min-height: 400px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    margin: 15px;
    width: 270px;
    height: 350px;
    border: 3px solid #b11226;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #201f1f;
}

.card h2 {
    display: flex;
    font-size: 20px;
    text-align: center;
    height: 60px;
    padding: 10px 5px 0 5px;
    align-items: center;
    justify-content: space-evenly;
}

.card img {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    position: relative;
}

footer {
    margin-top: 15px;
    justify-content: center;
    background-color: #000;
    font-size: 14px;
    color: #fff;
    height: 2rem;
}

/* --- Curser and Button Responsive Styling -------------------------- */

h1:hover {
    text-shadow: 1px 1px 5px #201f1f;
    cursor: pointer;
}

h1:active {
    color: #ed77f3;
    text-shadow: none;
}

.buttons:hover {
    background-color: #b11226;
    border-color: #000;
    cursor: pointer;
}

.buttons:active {
    color: #ed77f3;
    box-shadow: none;
}

.card:hover {
    background-color: #b11226;
    border-color: #000;
    cursor: pointer;
}

.card:active {
    color: #ed77f3;
    box-shadow: none;
}

/*--- First Modal -----------------------------------------------------*/
.flexContainer {
    display: flex;
    justify-content: space-evenly;
}

.topRow {
    margin: auto;
}

.topRow h2 {
    font-size: 25px;
    text-align: center;
}

.topRow img {
    display: flex;
    justify-content: center;
    width: 75%;
    height: auto;
    margin: 10px auto 10px auto;
    border: 5px solid #000;
    box-shadow: 1px 1px 5px 1px #3f3939;
}

.flexContainer h3 {
    text-decoration: underline;
}

.col-1, .col-2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* align-items: center; */
    font-size: 16px;
}

.ingredients, .measurements {
    margin-top: 10px;
}

#instructLink {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    margin-top: 10px;
}

/* --- Second Modal --------------------------------------------------- */
#instructions h3 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

/* ==================================================================== */
/* --- Media Queries -------------------------------------------------- */

@media only screen and (min-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-left: 10px;
    }

    .searching {
        width: 300px;
    }

    .col-1, .col-2 {
        align-items: center;
    }
    
}